<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:fragment="admin-head">
    <meta charset="UTF-8"/>
    <title>COMPUTER STORE | Admin Portal</title>
    <link rel="icon" th:href="@{/image/favicon.png}"/>
    <link rel="stylesheet" href="/css/adminPortalStyle.css"/>
    <link rel="stylesheet" href="/css/font-awesome.css"/>
</head>
<body>
<div th:fragment="admin-header">
    <ul>
        <li><a th:href="@{/admin}">Home</a></li>
        <li><a th:href="@{/}">Store</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Products</a>
            <div class="dropdown-content">

                <a th:href="@{/admin/productList}">Product List</a>
                <a th:href="@{/admin/addProduct}">Add Product</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Orders</a>
            <div class="dropdown-content">
                <a th:href="@{/admin/orderList}">Order List</a>
            </div>
        </li>
    </ul>
</div>

</body>
</html>