<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/general.css"/>
    <link rel="stylesheet" href="/css/font-awesome.css"/>
    <link rel="icon" th:href="@{/image/favicon.png}"/>
    <title>COMPUTER STORE</title>
</head>
<body>

<div th:fragment="common-navbar" class="navbar" id="navbar">
    <nav>
        <a class="logo" th:href="@{/}">COMPUTER STORE</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin Page</a>
        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/shoppingCart}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        <a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/myProfile}">My Account</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" th:method="post">Logout</a>
        <a th:href="@{/products}">Products</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </nav>
</div>

<div th:fragment="common-footer" class="footer">
    <footer>

        <div class="row endOfPage">All rights reserved.</div>
    </footer>

</div>



<div th:fragment="common-scripts">
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
</div>
</body>
</html>