* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.footer, .push {
    height: 50px;
}

.btn {
    background-color: #0066ff;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
}

.btn:hover {
    background-color: grey;
}

input {
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*navbar*/
.navbar {
    background-color: #0066ff;
    overflow: hidden;
}

.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #002966;
    color: white;
}


.navbar .logo {
    float: left;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/*footer*/
.endOfPage {
    background-color: #0066ff;
    text-align: center;
    padding: 20px;
    color: white;
}

/*myprofile*/


@media screen and(min-width: 900px) {
    .info input, .edit input {
        width:100%;
    }
}
