div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color: #ccc;
}

div.tabcontent {
    align-items: center;
    justify-content: center;
    display: none;
    flex-direction: column;
    padding: 6px 12px;
    border-top: none;
}

div.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tabcontainer input {
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    display: block;
}

.tabcontainer form button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: black;
    padding: 14px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}