#category {
    width: 100%;
    text-align: center;
}

#category a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

#category a:hover {
    background-color: #ccc;
}

#category a.active {
    background-color: #4faf50;
    color: white;
}