<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/fragments :: common-header">
</head>
<head>
    <link rel="stylesheet" href="/css/checkout.css"/>
</head>
<body>
<div class="wrapper">
    <div th:replace="common/fragments :: common-navbar"></div>

    <div>
        <form th:action="@{/placeOrder}" method="post">
            <button type="button" class="accordion">1. Shipping Address</button>
            <div class="panel">
                <div class="centered">

                    <input id="shippingAddressName" th:value="${shippingAddress.name}" th:name="name" th:id="name"
                           type="text"
                           placeholder="Shipping Address Name" required="required"/>
                    <input id="shippingAddressStreet" th:value="${shippingAddress.street}" th:name="street"
                           th:id="street" type="text"
                           placeholder="Street" required="required"/>
                    <input id="shippingAddressCity" th:value="${shippingAddress.city}" th:name="city" th:id="city"
                           type="text" placeholder="City"
                           required="required"/>
                    <input id="shippingAddressState" th:value="${shippingAddress.state}" th:name="state" th:id="state"
                           type="text"
                           placeholder="State" required="required"/>
                    <input id="shippingAddressCountry" th:value="${shippingAddress.country}" th:name="country"
                           th:id="country" type="text"
                           placeholder="Country" required="required"/>
                    <input id="shippingAddressZipCode" th:value="${shippingAddress.zipCode}" th:name="zipCode"
                           th:id="zipCode" type="text"
                           placeholder="Zip Code" required="required"/>
                </div>
            </div>

            <button type="button" class="accordion">2. Billing Address</button>
            <div class="panel">
                <div class="centered">
                    <input class="billingAddress" id="billingAddressName" th:value="${billingAddress.name}"
                           th:name="name" th:id="name" type="text"
                           placeholder="Shipping Address Name" required="required"/>
                    <input class="billingAddress" id="billingAddressStreet" th:value="${billingAddress.street}"
                           th:name="street" th:id="street" type="text"
                           placeholder="Street" required="required"/>
                    <input class="billingAddress" id="billingAddressCity" th:value="${billingAddress.city}"
                           th:name="city" th:id="city" type="text" placeholder="City"
                           required="required"/>
                    <input class="billingAddress" id="billingAddressState" th:value="${billingAddress.state}"
                           th:name="state" th:id="state" type="text"
                           placeholder="State" required="required"/>
                    <input class="billingAddress" id="billingAddressCountry" th:value="${billingAddress.country}"
                           th:name="country" th:id="country" type="text"
                           placeholder="Country" required="required"/>
                    <input class="billingAddress" id="billingAddressZipCode" th:value="${billingAddress.zipCode}"
                           th:name="zipCode" th:id="zipCode" type="text"
                           placeholder="Zip Code" required="required"/>
                </div>
            </div>

            <button type="button" class="accordion">3. Summary</button>
            <div class="panel">
                <div class="row">
                    <div class="col-8">
                        <h4>Products</h4>
                    </div>
                    <div class="col-2">
                        <h4>Price</h4>
                    </div>
                    <div class="col-2">
                        <h4>Quantity</h4>
                    </div>
                </div>
                <hr/>
                <div th:each="cartItem : ${shoppingCart.cartItemList}">
                    <div class="row">
                        <div class="col-2">
                            <a th:href="@{/product(id=${cartItem.product.id})}">
                                <img class="img-responsive"
                                     th:src="@{/image/product/}+${cartItem.product.id}+'.png'"/></a>
                        </div>

                        <div class="col-6">
                            <a th:href="@{/product(id=${cartItem.product.id})}"><h4
                                    th:text="${cartItem.product.name}"></h4></a>
                            <p th:if="${cartItem.product.stock&gt;0}">In stock</p>
                            <p th:if="${cartItem.product.stock&lt;1}">Product Unavailable</p>
                        </div>

                        <div class="col-2">
                            <h5>$<span th:text="${cartItem.product.ourPrice}"></span></h5>
                        </div>

                        <div class="col-2">
                            <h5 th:text="${cartItem.qty}"></h5>
                        </div>
                    </div>
                    <hr/>
                </div>

                <h4 class="col-12" style="text-align: right">
                    <strong>Order Total (<span th:text="${#lists.size(shoppingCart.cartItemList)}"></span>
                        items):</strong>
                    <span>$<span th:text="${shoppingCart.finalSum}"></span></span>
                </h4>
                <br/>
                <br/>
                
                <button th:if="${#lists.size(shoppingCart.cartItemList) &gt; 0}" class="btn" type="submit">Place your order</button>
                <p>By placing your order, you agree to our privacy notice and conditions of use.</p>
            </div>
        </form>

    </div>

</div>
<div class="push"></div>
<div class="footer">
    <div th:replace="common/fragments :: common-footer"></div>
</div>

</body>
<div th:replace="common/fragments :: common-scripts"></div>

<script>
    /*<![CDATA[*/
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {

            this.classList.toggle("active");

            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        }
    }
    /*]]>*/
</script>
</html>