<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="common/fragments :: common-header">
</head>
<head>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
<div th:replace="common/fragments :: common-navbar"></div>
<div class="wrapper">
    <div class="slideshow-container">
        <div class="slide fade">
            <img class="img-responsive" src="http://lorempixel.com/output/sports-q-c-1600-500-1.jpg"
                 style="width:100%"/>
        </div>

        <div class="slide fade">
            <img class="img-responsive" src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg"
                 style="width:100%"/>
        </div>

        <div class="slide fade">
            <img class="img-responsive" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg"
                 style="width:100%"/>
        </div>

        <a class="previous" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br/>
    <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <hr/>
    <div class="row">
        <h3 class="col-12" style="text-align: center">
            Featured Products
        </h3>
    </div>
    <div class="featuredProducts">
        <div class="row">
            <div class="col-3" th:if="${#lists.size(featuredProductList) &gt; 0}">
                <a th:href="@{/product(id=${featuredProductList[0].id})}"><img class="img-responsive"
                                                                               th:src="@{/image/product/}+${featuredProductList[0].id}+'.png'"/></a>
            </div>

            <div class="col-3" th:if="${#lists.size(featuredProductList) &gt; 1}">
                <a th:href="@{/product(id=${featuredProductList[1].id})}"><img class="img-responsive"
                                                                               th:src="@{/image/product/}+${featuredProductList[1].id}+'.png'"/></a>
            </div>

            <div class="col-3" th:if="${#lists.size(featuredProductList) &gt; 2}">
                <a th:href="@{/product(id=${featuredProductList[2].id})}"><img class="img-responsive"
                                                                               th:src="@{/image/product/}+${featuredProductList[2].id}+'.png'"/></a>
            </div>

            <div class="col-3" th:if="${#lists.size(featuredProductList) &gt; 3}">
                <a th:href="@{/product(id=${featuredProductList[3].id})}"><img class="img-responsive"
                                                                               th:src="@{/image/product/}+${featuredProductList[3].id}+'.png'"/></a>
            </div>
        </div>

        <div class="row">
            <div class="col-3" th:if="${#lists.size(featuredProductList) &gt; 0}" style="text-align: center">
                <p>$<span th:text="${featuredProductList[0].ourPrice}"></span></p>
            </div>

            <div class="col-3" th:if="${#lists.size(featuredProductList) &gt; 1}" style="text-align: center">
                <p>$<span th:text="${featuredProductList[1].ourPrice}"></span></p>
            </div>

            <div class="col-3" th:if="${#lists.size(featuredProductList) &gt; 2}" style="text-align: center">
                <p>$<span th:text="${featuredProductList[2].ourPrice}"></span></p>
            </div>

            <div class="col-3" th:if="${#lists.size(featuredProductList) &gt; 3}" style="text-align: center">
                <p>$<span th:text="${featuredProductList[3].ourPrice}"></span></p>
            </div>
        </div>

        <div class="row">
            <div class="col-3" th:if="${#lists.size(featuredProductList) &gt; 0}" style="text-align: center">
                <p style="text-decoration: line-through">$<span th:text="${featuredProductList[0].listPrice}"></span></p>
            </div>

            <div class="col-3" th:if="${#lists.size(featuredProductList) &gt; 1}" style="text-align: center">
                <p style="text-decoration: line-through">$<span th:text="${featuredProductList[1].listPrice}"></span></p>
            </div>

            <div class="col-3" th:if="${#lists.size(featuredProductList) &gt; 2}" style="text-align: center">
                <p style="text-decoration: line-through">$<span th:text="${featuredProductList[2].listPrice}"></span></p>
            </div>

            <div class="col-3" th:if="${#lists.size(featuredProductList) &gt; 3}" style="text-align: center">
                <p style="text-decoration: line-through">$<span th:text="${featuredProductList[3].listPrice}"></span></p>
            </div>
        </div>

    </div>
</div>


<div class="push"></div>
<div class="footer">
    <div th:replace="common/fragments :: common-footer"></div>
</div>


</body>
<script th:src="@{/js/index.js}"></script>
<div th:replace="common/fragments :: common-scripts"></div>
</html>