<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<p>Dear <span th:text="${user.firstName}"></span>,</p>
<br/>
<p>Thank you for your purchase!</p>
<p>Your order number is: <strong>#<span th:text="${order.id}"></span></strong></p>
<hr/>

<table>
    <tr>
        <th>Billing Address</th>
        <th>Shipping Address</th>
    </tr>

    <tr>
        <td>
            <span th:text="${order.billingAddress.name}"></span><br/>
            <span th:text="${order.billingAddress.street}"></span><br/>
            <span th:text="${order.billingAddress.city}"></span><br/>
            <span th:text="${order.billingAddress.state}"></span><br/>
            <span th:text="${order.billingAddress.zipCode}"></span><br/>
        </td>
        <td>
            <span th:text="${order.shippingAddress.name}"></span><br/>
            <span th:text="${order.shippingAddress.street}"></span><br/>
            <span th:text="${order.shippingAddress.city}"></span><br/>
            <span th:text="${order.shippingAddress.state}"></span><br/>
            <span th:text="${order.shippingAddress.zipCode}"></span><br/>
        </td>
    </tr>
</table>

<h3><strong>Order Summary</strong></h3>
<table>
    <thead>
    <tr>
        <td><strong>Item Name</strong></td>
        <td style="text-align: center">Item Price</td>
        <td style="text-align: center">Item Quantity</td>
        <td style="text-align: right">Total</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cartItem : ${cartItemList}">
        <td data-th-text="${cartItem.product.name}"></td>
        <td style="text-align: center" data-th-text="${cartItem.product.ourPrice}"></td>
        <td style="text-align: center" data-th-text="${cartItem.qty}"></td>
        <td style="text-align: right" data-th-text="${cartItem.sum}"></td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td style="text-align: center"><strong>Subtotal</strong></td>
        <td style="text-align: right" data-th-text="${order.totalPrice}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>