<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/admin-fragments :: admin-head">
</head>
<head>
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css"/>
</head>
<body>
<div th:replace="common/admin-fragments :: admin-header"></div>
<table id="myTable">
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Order Date</th>
        <th>Order Status</th>
        <th>Final price</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="order : ${orderList}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.user.username}"></td>
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.orderStatus}"></td>
        <td th:text="'$'+${order.totalPrice}"></td>
    </tr>
    </tbody>
</table>
</body>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
            stateSave: true
        });
    });
</script>
</html>