<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/fragments :: common-header">
</head>
<body>
<div class="wrapper">
    <div th:replace="common/fragments :: common-navbar"></div>
    <form th:action="@{/product/addToCart(id=${product.id})}" method="post">
        <input type="hidden" th:value="${product.id}"/>
        <div class="row">
            <div class="col-3">
                <a th:href="@{/products}">Back to products</a>
                <img class="img-responsive" th:src="@{/image/product/}+${product.id}+'.png'"/>
            </div>

            <div class="col-9">
                <h3><span th:if="${addBookSuccess}"><i class="fa fa-check"></i>Successfully added to cart</span></h3>
                <h3 th:text="${product.name}"></h3>
                <div class="row">
                    <div class="col-5">
                        <div th:if="${product.class.name == 'com.computerstore.model.products.Processor'}">
                            <p><strong>Brand: </strong><span th:text="${product.brand}"></span></p>
                            <p><strong>Name: </strong><span th:text="${product.name}"></span></p>
                            <p><strong>Model: </strong><span th:text="${product.model}"></span></p>
                            <p><strong>Socket Type: </strong><span th:text="${product.socketType}"></span></p>
                            <p><strong>Number of Cores: </strong><span th:text="${product.numberOfCores}"></span></p>
                            <p><strong>Number of Threads: </strong><span th:text="${product.numberOfThreads}"></span>
                            </p>
                            <p><strong>Base Frequency: </strong><span th:text="${product.baseFrequency}"></span></p>
                            <p><strong>Turbo Frequency: </strong><span th:text="${product.turboFrequency}"></span></p>
                            <p><strong>TDP: </strong><span th:text="${product.TDP}"></span></p>
                        </div>

                        <div th:if="${product.class.name == 'com.computerstore.model.products.Motherboard'}">
                            <p><strong>Brand: </strong><span th:text="${product.brand}"></span></p>
                            <p><strong>Name: </strong><span th:text="${product.name}"></span></p>
                            <p><strong>Model: </strong><span th:text="${product.model}"></span></p>
                            <p><strong>CPU Socket Type: </strong><span th:text="${product.CPUSocketType}"></span></p>
                            <p><strong>Chipset: </strong><span th:text="${product.chipset}"></span></p>
                            <p><strong>Maximum supported memory (Gb): </strong><span
                                    th:text="${product.maximumSupportedMemoryInGB}"></span></p>
                            <p><strong>Supported Channel: </strong><span th:text="${product.channelSupported}"></span>
                            </p>
                            <p><strong>Audio Chipset: </strong><span th:text="${product.audioChipset}"></span></p>
                            <p><strong>Form Factor: </strong><span th:text="${product.formFactor}"></span></p>
                        </div>

                        <div th:if="${product.class.name == 'com.computerstore.model.products.VideoCard'}">
                            <p><strong>Brand: </strong><span th:text="${product.brand}"></span></p>
                            <p><strong>Name: </strong><span th:text="${product.name}"></span></p>
                            <p><strong>Model: </strong><span th:text="${product.model}"></span></p>
                            <p><strong>Chipset Manufacturer: </strong><span
                                    th:text="${product.chipsetManufacturer}"></span></p>
                            <p><strong>Core Clock: </strong><span th:text="${product.coreClock}"></span></p>
                            <p><strong>Boost Clock: </strong><span th:text="${product.boostClock}"></span></p>
                            <p><strong>Amount of Video Memory (Gb): </strong><span
                                    th:text="${product.memoryInGb}"></span></p>
                            <p><strong>Memory Clock: </strong><span th:text="${product.memoryClock}"></span></p>
                        </div>
                    </div>

                    <div class="col-7">
                        <div class="row">
                            <div class="col-6">
                                <h4>Our Price: <span>$<span th:text="${product.ourPrice}"></span></span></h4>
                                <p>List Price: <span>$<span th:text="${product.listPrice}"></span></span></p>
                            </div>

                            <div class="col-6">
                                <h4 th:if="${product.stock&gt;0}" style="color:green">In Stock</h4>
                                <h4 th:if="${product.stock&lt;1}" style="color:red">Out of Stock</h4>
                                <span th:if="${product.stock&gt;0}"><button type="submit">Add to Cart</button></span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<div class="push"></div>
<div class="footer">
    <div th:replace="common/fragments :: common-footer"></div>
</div>

</body>
<script th:src="@{/js/loginPageScript.js}"></script>
<div th:replace="common/fragments :: common-scripts"></div>
</html>