<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/admin-fragments :: admin-head"></head>
<head>
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css"/>
</head>
<body>
<div th:replace="common/admin-fragments :: admin-header"></div>
<table id="myTable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Product Type</th>
        <th>Brand</th>
        <th>Model</th>
        <th>List Price</th>
        <th>Our Price</th>
        <th>In Stock</th>
        <th>Featured</th>
        <th>Active</th>
        <th>Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="product : ${productList}">
        <td><a th:href="@{/admin/productInfo(id=${product.id})}"><span th:text="${product.name}"></span></a></td>
        <td th:text="${#strings.substring(product.class.name,32)}"></td>
        <td th:text="${product.brand}"></td>
        <td th:text="${product.model}"></td>
        <td th:text="${product.listPrice}"></td>
        <td th:text="${product.ourPrice}"></td>
        <td th:text="${product.stock}"></td>
        <td th:text="${product.featured}"></td>
        <td th:text="${product.active}"></td>
        <td>
            <form th:action="@{/admin/deleteProduct}" method="post">
                <input hidden="hidden" name="id" th:value="${product.id}"/>
                <button th:id="'oneProduct-'+${product.id}" type="submit" value="delete">
                    <span class="fa fa-times"></span>Activate/Deactivate
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
            stateSave: true
        });
    });
</script>
</html>