<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/admin-fragments :: admin-head"></head>
<body>
<div th:replace="common/admin-fragments :: admin-header"></div>
<a th:href="@{/admin/productList}"><i class="fa fa-long-arrow-left"></i>Go back</a>
<button type="button" onclick="enableEdit()">Edit</button>
<p th:if="${uploadFailed}" style="color:red">Image upload failed, please try again later.</p>
<div class="row">
    <div class="col-4 imageColumn">
        <div class="col-12">
            <img th:src="@{/image/product/} + ${product.id}+'.png'" class="img-responsive"/>
        </div>

    </div>
    <div class="col-8 detailsColumn">
        <div class="container">
            <div th:if="${product.class.name == 'com.computerstore.model.products.Processor'}" id="Processor">
                <h3>View/Edit Processor</h3>
                <form th:action="@{/admin/editProcessor}" th:object="${product}" method="post" name="editProcessorForm" id="editProcessorForm" enctype="multipart/form-data">
                    <div class="col-4">
                        <input th:field="*{id}" name="id" class="hiddenField" type="hidden"/>
                        <label>Brand</label>
                        <input class="editInput" th:field="*{brand}" type="text" name="brand" required="required" placeholder="Brand" disabled="disabled"/>
                        <label>Name</label>
                        <input class="editInput" th:field="*{name}" type="text" name="name" required="required" placeholder="Name" disabled="disabled"/>
                        <label>Model</label>
                        <input class="editInput" th:field="*{model}" type="text" name="model" required="required" placeholder="Model" disabled="disabled"/>
                        <label>List Price</label>
                        <input class="editInput" th:field="*{listPrice}" type="number" name="listPrice" required="required" placeholder="List Price" disabled="disabled"/>
                        <label>Our Price</label>
                        <input class="editInput" th:field="*{ourPrice}" type="number" name="ourPrice" required="required" placeholder="Our Price" disabled="disabled"/>
                        <label>In Stock</label>
                        <input class="editInput" th:field="*{stock}" type="number" name="stock" required="required" placeholder="In Stock" disabled="disabled"/>
                        <label class="editInput" for="featuredProcessor">Featured</label>
                        <input class="editInput" th:field="*{featured}" type="checkbox" name="featured" id="featuredProcessor" placeholder="Featured" disabled="disabled"/>
                        <label class="editInput" for="activeProcessor">Active</label>
                        <input class="editInput" th:field="*{active}" type="checkbox" name="active" id="activeProcessor" placeholder="Active" disabled="disabled"/>
                    </div>

                    <div class="col-4">
                        <label>Socket Type</label>
                        <input class="editInput" th:field="*{socketType}" type="text" name="socketType" required="required" placeholder="Socket Type" disabled="disabled"/>
                        <label>Number of Cores</label>
                        <input class="editInput" th:field="*{numberOfCores}" type="number" name="numberOfCores" required="required" placeholder="Number of Cores" step="any" disabled="disabled"/>
                        <label>Number of Threads</label>
                        <input class="editInput" th:field="*{numberOfThreads}" type="number" name="numberOfThreads" required="required" placeholder="Number of Threads" step="any" disabled="disabled"/>
                        <label>Base Frequency</label>
                        <input class="editInput" th:field="*{baseFrequency}" type="number" name="baseFrequency" required="required" placeholder="Base Frequency" step="any" disabled="disabled"/>
                        <label>Turbo Frequency</label>
                        <input class="editInput" th:field="*{turboFrequency}" type="number" name="turboFrequency" required="required" placeholder="Turbo Frequency" step="any" disabled="disabled"/>
                        <label>TDP</label>
                        <input class="editInput" th:field="*{TDP}" type="number" name="TDP" required="required" placeholder="TDP" step="any"  disabled="disabled"/>

                        <label for="productImage">Upload product image</label>
                        <input class="editInput" th:field="*{image}" type="file" id="processorImage" disabled="disabled"/>

                        <button class="editInput" type="submit"  disabled="disabled">Submit</button>
                        <button class="cancelbtn" type="button" hidden="hidden" onclick="disableEdit()">Cancel</button>
                    </div>



                </form>
            </div>
            <div th:if="${product.class.name == 'com.computerstore.model.products.Motherboard'}" id="Motherboard">
                <h3>View/Edit Motherboard</h3>
                <form th:action="@{/admin/addProduct/motherboard}" th:object="${product}" method="post" name="newMotherboardForm" id="newMotherboardForm" enctype="multipart/form-data">
                    <div class="col-4">
                        <input th:field="*{id}" name="id" class="hiddenField" type="hidden"/>
                        <label>Brand</label>
                        <input class="editInput" th:field="*{brand}" type="text" name="brand" required="required" placeholder="Brand" disabled="disabled"/>
                        <label>Name</label>
                        <input class="editInput" th:field="*{name}" type="text" name="name" required="required" placeholder="Name" disabled="disabled"/>
                        <label>Model</label>
                        <input class="editInput" th:field="*{model}" type="text" name="model" required="required" placeholder="Model" disabled="disabled"/>
                        <label>List Price</label>
                        <input class="editInput" th:field="*{listPrice}" type="number" name="listPrice" required="required" placeholder="List Price" disabled="disabled"/>
                        <label>Our Price</label>
                        <input class="editInput" th:field="*{ourPrice}" type="number" name="ourPrice" required="required" placeholder="Our Price" disabled="disabled"/>
                        <label>In Stock</label>
                        <input class="editInput" th:field="*{stock}" type="number" name="stock" required="required" placeholder="In Stock" disabled="disabled"/>
                        <label class="editInput" for="featuredProcessor">Featured</label>
                        <input class="editInput" th:field="*{featured}" type="checkbox" name="featured" id="featuredMotherboard" placeholder="Featured" disabled="disabled"/>
                        <label class="editInput" for="activeProcessor">Active</label>
                        <input class="editInput" th:field="*{active}" type="checkbox" name="active" id="activeMotherboard" placeholder="Active" disabled="disabled"/>
                    </div>

                    <div class="col-4">
                        <label>CPU Socket Type</label>
                        <input class="editInput" th:field="*{CPUSocketType}" type="text" name="CPUSocketType" required="required" placeholder="CPU Socket Type" disabled="disabled"/>
                        <label>Chipset</label>
                        <input class="editInput" th:field="*{chipset}" type="text" name="chipset" required="required" placeholder="Chipset" disabled="disabled"/>
                        <label>Maximum Supported Memory (Gb)</label>
                        <input class="editInput" th:field="*{maximumSupportedMemoryInGB}" type="number" name="maximumSupportedMemoryInGB" required="required" placeholder="Max Supported Memory in Gb" disabled="disabled"/>
                        <label>Supported Memory Channel</label>
                        <input class="editInput" th:field="*{channelSupported}" type="text" name="channelSupported" required="required" placeholder="Channel Supported" disabled="disabled"/>
                        <label>Audio Chipset</label>
                        <input class="editInput" th:field="*{audioChipset}" type="text" name="audioChipset" required="required" placeholder="Audio Chipset" disabled="disabled"/>
                        <label>Form Factor</label>
                        <input class="editInput" th:field="*{formFactor}" type="text" name="formFactor" required="required" placeholder="Form Factor" disabled="disabled"/>


                        <label for="productImage">Upload product image</label>
                        <input class="editInput" th:field="*{image}" type="file" id="productImage" disabled="disabled"/>

                        <button class="editInput" type="submit"  disabled="disabled">Submit</button>
                        <button class="cancelbtn" type="button" hidden="hidden" onclick="disableEdit()">Cancel</button>
                    </div>

                </form>
            </div>


            <div th:if="${product.class.name == 'com.computerstore.model.products.VideoCard'}" id="VideoCard">
                <h3>View/Edit Video Card</h3>
                <form th:action="@{/admin/addProduct/videoCard}" th:object="${product}" method="post" name="newVideoCardForm" id="newVideoCardForm" enctype="multipart/form-data">
                    <div class="col-4">
                        <input th:field="*{id}" name="id" class="hiddenField" type="hidden"/>
                        <label>Brand</label>
                        <input class="editInput" th:field="*{brand}" type="text" name="brand" required="required" placeholder="Brand" disabled="disabled"/>
                        <label>Name</label>
                        <input class="editInput" th:field="*{name}" type="text" name="name" required="required" placeholder="Name" disabled="disabled"/>
                        <label>Model</label>
                        <input class="editInput" th:field="*{model}" type="text" name="model" required="required" placeholder="Model" disabled="disabled"/>
                        <label>List Price</label>
                        <input class="editInput" th:field="*{listPrice}" type="number" name="listPrice" required="required" placeholder="List Price" disabled="disabled"/>
                        <label>Our Price</label>
                        <input class="editInput" th:field="*{ourPrice}" type="number" name="ourPrice" required="required" placeholder="Our Price" disabled="disabled"/>
                        <label>In Stock</label>
                        <input class="editInput" th:field="*{stock}" type="number" name="stock" required="required" placeholder="In Stock" disabled="disabled"/>
                        <label class="editInput" for="featuredVideoCard">Featured</label>
                        <input class="editInput" th:field="*{featured}" type="checkbox" name="featured" id="featuredVideoCard" placeholder="Featured" disabled="disabled"/>
                        <label class="editInput" for="activeVideoCard">Active</label>
                        <input class="editInput" th:field="*{active}" type="checkbox" name="active" id="activeVideoCard" placeholder="Active" disabled="disabled"/>
                    </div>

                    <div class="col-4">
                        <label>Chipset Manufacturer</label>
                        <input class="editInput" th:field="*{chipsetManufacturer}" type="text" name="chipsetManufacturer" required="required" placeholder="Chipset Manufacturer" disabled="disabled"/>
                        <label>Core Clock</label>
                        <input class="editInput" th:field="*{coreClock}" type="number" name="coreClock" required="required" placeholder="Core Clock" disabled="disabled"/>
                        <label>Boost Clock</label>
                        <input class="editInput" th:field="*{boostClock}" type="number" name="boostClock" required="required" placeholder="Boost Clock" disabled="disabled"/>
                        <label>Amount of Memory (Gb)</label>
                        <input class="editInput" th:field="*{memoryInGb}" type="number" name="memoryInGb" required="required" placeholder="Memory in Gb" disabled="disabled"/>

                        <label for="videoCardImage">Upload product image</label>
                        <input class="editInput" th:field="*{image}" type="file" id="videoCardImage" disabled="disabled"/>

                        <button class="editInput" type="submit"  disabled="disabled">Submit</button>
                        <button class="cancelbtn" type="button" hidden="hidden" onclick="disableEdit()">Cancel</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

</body>
<script th:src="@{/js/adminPage.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
</html>