<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/fragments :: common-header">
</head>
<head>
    <link rel="stylesheet" href="/css/products.css"/>
</head>
<body>
<div class="wrapper">
    <div th:replace="common/fragments :: common-navbar"></div>
    <div class="row">
        <div class="col-4">
            <div id="category">
                <a class="linkButton" th:href="@{/productsByCategory(category='all')}">All</a>
                <a class="linkButton" th:href="@{/productsByCategory(category='processor')}">Processors</a>
                <a class="linkButton" th:href="@{/productsByCategory(category='motherboard')}">Motherboards</a>
                <a class="linkButton" th:href="@{/productsByCategory(category='videoCard')}">Video Cards</a>
            </div>
        </div>
        <h1 class="col-8" style="text-align: center">Products - <span th:text="${currentCategory}"></span></h1>
    </div>

    <div class="row">
        <div class="col-12">
            <div th:each="product : ${productList}">
                <div class="row">
                    <div class="col-2">
                        <a th:href="@{/product(id=${product.id})}"><img class="img-responsive"
                                                                        th:src="@{/image/product/}+${product.id}+'.png'"/></a>
                    </div>

                    <div class="col-10">
                        <a th:href="@{/product(id=${product.id})}"><h3 th:text="${product.name}"></h3></a>
                        <p>$<span th:text="${product.ourPrice}"></span></p>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
<div class="push"></div>
<div id="footer">
    <div th:replace="common/fragments :: common-footer"></div>
</div>

</body>
<div th:replace="common/fragments :: common-scripts"></div>
</html>