<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/fragments :: common-header">
</head>
<body>
<div class="wrapper">
    <div th:replace="common/fragments :: common-navbar"></div>

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12" style="text-align: left">
                    <a th:href="@{/products}">Continue Shopping</a>
                </div>
                <br/>
                <div th:if="${emptyCart}" style="color:red">
                    Oops, your cart is empty.
                </div>
                <div th:if="${addedToCart}" style="color:green">
                    Successfully added to cart.
                </div>


                <br/><br/>
                <div class="row">
                    <div class="col-6">
                        <h4>Products</h4>
                    </div>
                    <div class="col-2">
                        <h4>Price</h4>
                    </div>
                    <div class="col-4">
                        <h4>Quantity</h4><span th:if="${notEnoughStock}" style="color:red">Not enough stock</span>
                    </div>
                </div>

                <div class="row" th:each="cartItem : ${cartItemList}">
                    <form th:action="@{/shoppingCart/updateCart}" method="post">
                        <hr/>
                        <div class="col-2">
                            <a th:href="@{/product(id=${cartItem.product.id})}">
                                <img class="img-responsive" th:src="@{/image/product/}+${cartItem.product.id}+'.png'"/>
                            </a>
                        </div>

                        <div class="col-4">
                            <div>
                                <a th:href="@{/product(id=${cartItem.product.id})}"><h4
                                        th:text="${cartItem.product.name}"></h4></a>
                                <p th:if="${cartItem.product.stock&gt;0}" style="color:green">In Stock</p>
                                <p th:if="${cartItem.product.stock&lt;1}" style="color:red">Out of Stock</p>
                            </div>
                        </div>

                        <div class="col-2">
                            <h5>$<span th:text="${cartItem.product.ourPrice}"></span> </h5>
                        </div>

                        <div class="col-4">
                            <input type="hidden" name="id" th:value="${cartItem.id}"/>
                            <input type="number" name="qty" th:value="${cartItem.qty}" min="1" th:max="${cartItem.product.stock}"/>
                            <br/>
                            <button type="submit" name="action" value="update">Update</button>
                            <button type="submit" name="action" value="remove">Remove</button>
                        </div>
                    </form>
                </div>
                <hr/>
                <div class="row">
                    <h4 class="col-12" style="text-align: right">
                        <strong>Order Total (<span th:text="${#lists.size(cartItemList)}"></span>
                            items):</strong>
                        <span>$<span th:text="${price}"></span></span>
                    </h4>
                </div>
                <div class="row">
                    <h4 class="col-12" style="text-align: right">
                        <p th:if="${#lists.size(cartItemList) &gt; 0}">
                            <a th:href="@{/checkout}">Checkout</a>
                        </p>
                    </h4>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="push"></div>
<div class="footer">
    <div th:replace="common/fragments :: common-footer"></div>
</div>

</body>
<div th:replace="common/fragments :: common-scripts"></div>
</html>